.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
  flex: 1;
  gap: 40px;
}

.title {
  font-size: var(--title-font-size);
  font-weight: 500;
}

.aboutUs {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: var(--small-font-size);
    padding: 20px;
    gap: 20px;
  }
}
