.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  max-width: var(--section-max-width);
  margin: var(--section-margin-x);
}

.leftSide {
  display: flex;
  max-width: 400px;
}

.rightSide {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 10px;
    gap: 10px;
    margin: 0;
    border-radius: 0;
  }

  .leftSide {
    flex: 1;
    height: 350px;
    padding: 5px 0;
  }

  .rightSide {
    flex: 1;
    gap: 10px;
  }
}
