.container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  background-color: beige;
  padding: 10px;
  border-radius: 20px;
  margin: var(--sections-small-margin-x);
  gap: 10px;
  background: linear-gradient(
    115deg,
    rgba(0, 184, 198, 0.2) 0%,
    rgba(32, 11, 105, 0.2) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  font-size: var(--medium-font-size);
}

.title {
  font-size: var(--title-font-size);
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.info {
  font-weight: 500;
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.label {
  text-align: left;
  width: 100%;
  font-weight: 500;
}

.emailInput {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  background-color: transparent;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: var(--small-font-size);
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--gray-color);
  padding: 10px;
  border-radius: 10px;
  height: 85px;
  min-width: 50px;
  max-width: 180px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 500;
  color: var(--black-color);
  transition: all 0.5s;
  cursor: pointer;
}

.serviceContainerSelected {
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
}

.dotSelected {
  border: 2px solid var(--primary-color);
}

.servicesArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.submit {
  all: unset;
  align-items: center;
  background: linear-gradient(
    157deg,
    rgba(0, 214, 230, 1) 0%,
    rgba(32, 11, 105, 1) 100%
  );
  border-radius: 10px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  color: var(--white-color);
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.disabled {
  background: var(--gray-color);
  color: var(--white-color);
  font-weight: 400;
  cursor: not-allowed;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: var(--small-font-size);
  }

  .servicesArea {
    gap: 5px;
  }
}
