.section {
  display: flex;
  align-items: center;
  max-width: var(--section-max-width);
  margin: var(--section-small-margin-x);
}

.contactUsImage {
  width: 100%;
}

.leftSide {
  display: flex;
  flex: 1;
}

.rightSide {
  display: flex;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .leftSide {
    display: none;
  }
}
