.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  margin: var(--section-margin-x);
  max-width: var(--section-max-width);
}

.mission_vision {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .section {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin: var(--sections-small-margin-x);
  }

  .mission_vision {
    gap: 10px;
  }
}
