.section {
  display: flex;
  box-sizing: border-box;
  padding: var(--large-padding);
  gap: 20px;
  /* border: 2px solid var(--primary-color); */
  margin: var(--section-margin-x);
  max-width: var(--section-max-width);
  background-color: var(--white-color);
}

.mission_vision {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .section {
    flex-direction: column;
    padding: var(--small-padding);
    gap: var(--small-gap);
    margin: var(--sections-small-margin-x);
  }

  .mission_vision {
    gap: var(--small-gap);
  }
}
