.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 4px solid var(--accent-color);
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  gap: 20px;
}

.title {
  justify-self: flex-start;
  align-self: flex-start;
  font-weight: 500;
  font-size: var(--title-font-size);
  color: var(--primary-color);
}

.vision {
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: var(--small-font-size);
    padding: var(--small-padding);
    border: 2px solid var(--accent-color);
    gap: 10px;
  }

  .title {
    font-size: var(--small-title-font-size);
  }
}
