.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid var(--accent-color);
  padding: 20px;
  flex: 1;
  gap: 20px;
  font-size: var(--medium-font-size);
  line-height: 1.4rem;
}

.mission {
  border-radius: 0 20px 20px 0;
}

.vision {
  border-radius: 0 20px 20px 0;
}

.title {
  justify-self: flex-start;
  align-self: flex-start;
  font-weight: 500;
  font-size: var(--title-font-size);
  color: var(--primary-color);
}

.description {
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .container {
    font-size: var(--small-font-size);
    padding: var(--medium-padding);
    border: 2px solid var(--accent-color);
    gap: 10px;
  }

  .mission {
    border-radius: 0;
  }

  .vision {
    border-radius: 0 0 20px 20px;
  }

  .title {
    font-size: var(--small-title-font-size);
  }
}
