body {
  margin: 0;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    margin: 0;
  }
}

:root {
  /*colors*/
  --background-color: #eff4f8;
  --primary-color: #200b69;
  --primary-hover-color: #1f0b69c7;
  --accent-color: #00cfde;
  --accent-hover-color: #00d7e6a9;
  --white-color: #fff;
  --black-color: #030303;
  --light-gray-color: #f2f2f2;
  --gray-color: #b6b6b6;
  /*fonts*/
  --small-font-size: 12px;
  --medium-font-size: 14px;
  --large-font-size: 18px;
  --title-font-size: 28px;
  --small-title-font-size: 24px;
  /*sections*/
  --section-max-width: 1200px;
  --section-margin-x: 0px 20px;
  --sections-small-margin-x: 0px 10px;
  --small-padding: 15px;
  --large-padding: 20px;
  --small-border-radius: 10px;
  --medium-border-radius: 15px;
  --large-border-radius: 20px;
  --small-padding: 10px;
  --medium-padding: 15px;
  --small-gap: 10px;
  --medium-gap: 15px;
  --large-gap: 20px;
  --navbar-height: 70px;

  @media only screen and (max-width: 600px) {
    --navbar-height: 50px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
