.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: var(--section-margin-x);
  max-width: var(--section-max-width);
  padding-top: 40px;
  margin-top: var(--navbar-height);
}

.leftSide {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.rightSide {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bannerImage {
  width: 100%;
}

.phrase {
  font-size: 90px;
  color: var(--primary-color);
  font-weight: 700;
  text-align: left;
  line-height: 1;
}

.accentWord {
  color: var(--accent-color);
}

.description {
  font-size: 30px;
  color: var(--black-color);
  font-weight: 400;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.button {
  all: initial;
  font-size: 24px;
  font-weight: 500;
  width: 240px;
  text-align: center;
  height: 54px;
  border-radius: var(--medium-border-radius);
  font-family: inherit;
  cursor: pointer;
}

.contactUs {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: inherit;
}

.contactUs:hover {
  background-color: var(--primary-hover-color);
}

.seeServices {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
}

.seeServices:hover {
  background-color: var(--accent-hover-color);
}

@media only screen and (max-width: 600px) {
  .container {
    height: fit-content;
    margin: var(--sections-small-margin-x);
    margin-top: var(--navbar-height);
    padding-top: 20px;
  }
  .phrase {
    font-size: 44px;
    margin-top: 30px;
    margin-bottom: 36px;
  }
  .description {
    font-size: var(--medium-font-size);
  }
  .leftSide {
    flex: 1;
    gap: 10px;
    align-items: flex-start;
  }
  .rightSide {
    justify-content: left;
    max-width: 90px;
  }
  .button {
    font-size: 20px;
    width: 100%;
    border-radius: 15px;
    height: 50px;
  }
  .bannerImage {
    width: 400px;
    justify-content: left;
    overflow: clip;
    align-items: flex-start;
  }
  .buttonsContainer {
    flex-direction: column;
    gap: 0px;
    width: 200px;
    align-items: flex-start;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 780px) {
  .phrase {
    font-size: 46px;
    margin-top: 30px;
    margin-bottom: 36px;
  }
  .description {
    font-size: var(--large-font-size);
  }
  .leftSide {
    max-width: 55%;
    gap: 10px;
    align-items: flex-start;
  }
  .rightSide {
    justify-content: left;
    max-width: 40%;
  }
  .button {
    font-size: var(--large-font-size);
    width: 200px;
    border-radius: 15px;
    height: 40px;
  }
}
